.main-window {
    background-color: #f5f5f5;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

.header-titles h2 {
    flex: 1;
    text-align: center;
}

.edit-input {
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
    display: block;
}

/* Date Picker
---------------------------------------------------------------------*/

.date-picker {
    margin-left: 5px;
    padding: 10px 20px;
    background-color: #3F666E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.date-picker:hover {
    background-color: #7DABB5;
}

/* Buttons
---------------------------------------------------------------------*/

.button {
    padding: 10px 20px;
    background-color: #3F666E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin: 15px;
}

.button:hover {
    background-color: #7DABB5;
}

.placeholder-buttons {
    display: flex;
    background-color: #F1EEE9;
    border-radius: 15px;
    justify-content: center;
    gap: 10px;
}

/* html table
---------------------------------------------------------------------*/

.tables-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.table-section {
    width: 100%;
    overflow: hidden;
}

.table-container {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.table-container table tr td:first-child,
.table-container table th:first-child {
    background-color: #eee;
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: 10;
}

.table-container table th {
    position: sticky;
    top: 0;
    background-color: #eee;
    z-index: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    font-size: 0.8rem;
    white-space: nowrap;
    background-color: #eee;
}

td {
    background-color: #fff;
    z-index: 1;
}

.total-row td {
    background-color: #fff;
    font-weight: bold;
}

/* Animation
---------------------------------------------------------------------*/

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideLeft7 {
    from {
        transform: translateX(700%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight7 {
    from {
        transform: translateX(-700%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-left {
    animation: slideLeft 0.5s forwards;
}

.slide-right {
    animation: slideRight 0.5s forwards;
}

.slide-left-7 {
    animation: slideLeft7 0.5s forwards;
}

.slide-right-7 {
    animation: slideRight7 0.5s forwards;
}