.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-section {
    flex: 1;
  }
  
  .left {
    text-align: left;
  }
  
  .middle {
    text-align: center;
  }
  
  .right {
    text-align: right;
    position: relative;
  }
  
  .dropzone input {
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px dashed #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 300px; /* Adjust width as necessary */
  }
  
  button {
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005f5f;
  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
  }
  
  .dropdown div {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown div:hover {
    background-color: #f1f1f1;
  }
  