.room-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.room-popup-content {
    background: #F1EEE9;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-popup-content h2 {
    margin-top: 0;
    color: #3F666E;
}

.room-popup-content .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.room-popup-content button {
    background-color: #3F666E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.room-popup-content button:hover {
    background-color: #7DABB5;
}

.room-popup-content .close-button {
    background-color: #C0392B;
    margin-top: 20px;
}

.room-popup-content .close-button:hover {
    background-color: #E74C3C;
}

.room-popup-content .room-button {
    background-color: #3F666E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.room-popup-content .room-button:hover {
    background-color: #7DABB5;
}

.room-popup-content .room-button.active {
    background-color: rgb(0, 149, 0);
}

.room-popup-content .room-priority {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.room-popup-content .room-priority h3 {
    margin-bottom: 10px;
    color: #3F666E;
}

.room-popup-content .priority-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    background-color: #F5F5F5;
}

.room-popup-content .priority-item {
    background-color: #7DABB5;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.room-popup-content .priority-item:hover {
    background-color: #be4032;
    color: white;
}

.room-popup-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Make the header 100% width */
}

.room-popup-header-name {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px; /* Add margin to create space */
    width: 100%; /* Make the div 100% width */
}

.room-popup-header-selector {
    background-color: #F5F5F5;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: auto;
}

.room-popup-header-selector select {
    background-color: #F5F5F5;
    border: none;
    font-size: 16px;
    outline: none;
}

.priority-list-content {
    padding-bottom: 15px;
}

.no-wrap {
    white-space: nowrap; /* Prevent text wrapping */
}
